.info-container {
	background-color: #264653;
	min-height: 750px;
	width: 93%;
	margin: 0 auto;
	padding-top: 15px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

.project-title {
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: rgb(144, 194, 202);
	text-shadow: -1px 0 #e76f51, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: #264653;
	height: 90px;
	margin: 0 20px;
	text-align: center;
	padding-top: 20px;
	border: #2a9d8f solid 7px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.detail-container {
	display: flex;
	margin: 0 0 50px 50px;
	min-height: 550px;
}

.detail-container-left {
	width: 35%;
	margin: 30px 0 50px 0;
}

.detail-container-carousel {
	width: 70%;
	margin: 50px 50px 0 50px;
	min-height: 850px;
}

.description {
	font-size: 22px;
	color: white;
}

.project-btns {
	margin-top: 40px;
}

.tech-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 150px;
	width: 250px;
}

.tech-icon {
	font-size: 66px;
	margin: 5px 5px;
}

.made-with {
	color: azure;
	margin-top: 50px;
}

@media only screen and (min-device-width: 413px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.info-container {
		width: 73%;
		margin: 0 40px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.info-container {
		width: 92%;
		height: 400px;
		margin: 20px 40px;
	}

	.tech-btns-container {
		display: inline-flex;
		margin-top: 150px;
	}

	.project-btns {
		width: 400px;
		margin-left: 20px;
	}

	.tech-icons {
		width: 300px;
		margin-top: 20px;
	}

	.description {
		font-size: 18px;
	}
}
