.info-container {
	background-color: #264653;
	height: 750px;
	margin-top: 50px;
}

.project-title {
	font-family: "Montserrat", sans-serif;
	font-size: 45px;
	font-weight: 600;
	background-color: #2a9d8f;
	height: 90px;
	margin: 10px 20px 0 20px;
	text-align: center;
}

.description {
	width: 30%;
	font-size: 22px;
	margin: 30px 0 50px 0;
	color: white;
}

.detail-container {
	margin-left: 50px;
}

.project-btns {
	margin-top: 40px;
}

.tech-icons {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	flex-wrap: wrap;
	width: 199px;
}

.tech-icon {
	font-size: 66px;
}
