.fa-stack {
	height: 60px;
}

.icon-stack {
	height: 150px;
	margin: 30%;
}

.icon-stack1 {
	padding-bottom: 15px;
}

.icon-stack1,
.icon-stack2 {
	display: flex;
	justify-content: space-around;
}

.fa {
	color: #264653;
	/* color: rgb(77, 128, 151); */
	/* color: rgb(240, 141, 97); */
}
