.App {
	/* display: flex; */
	font-family: "Montserrat", sans-serif;
}

.profile,
.contact {
	font-size: 30px;
	font-weight: 400;
}

.profile-contact-container {
	display: flex;
	align-self: center;
	margin: 0 80px;
	padding-bottom: 22px;
	border-bottom: #202020 solid 2px;
}

.profile-container {
	width: 70%;
	margin: 0 10px;
	padding-right: 16px;
	border-right: #202020 solid 2px;
}

.contact-container {
	width: 30%;
	padding-left: 16px;
}
