.App {
	font-family: "Montserrat", sans-serif;
}

.landing {
	background-color: rgb(207, 206, 201);
	padding: 20px 0;
}

.brand {
	font-size: 25px;
}

.contact {
	margin-top: 65px;
}

.profile,
.contact,
.portfolio {
	font-size: 45px;
	font-weight: 400;
}

.top-level-container {
	margin: 0 80px;
}

.profile-contact-container {
	display: flex;
	align-self: center;
	padding-bottom: 22px;
	border-bottom: #202020 solid 2px;
	height: 400px;
}

.profile-container {
	width: 70%;
	margin: 20px 10px 0 10px;
	padding-right: 16px;
	border-right: #202020 solid 2px;
}

.contact-container {
	width: 30%;
	padding-left: 16px;
}

.portfolio {
	display: flex;
	justify-content: left;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.landing {
		width: fit-content;
	}

	.brand {
		font-size: 20px;
	}

	.profile-contact-container {
		width: 68%;
	}
}
